/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Default: 400
Medium 500
Semi-bold 600
Bold 700

- LINE HEIGHTS 
Default: 1
Small: 1.05
Med: 1.2
Mission Text: 1.4
Paragraph default: 1.8

--- 02 COLORS
- Primary: #F3DBCF
- Secondary: #E5C1CD, 
- Tints: #F9EDE7 #f5e6eb
- Shades: #453a3d
- Accents: #C56483
- Greys: 
#343a40
#555
#333
#888, 
#767676 (lightest gray allowed on white)

--- 05 SHADOWS

--- 06 BORDER RADIUS
Default: 9px

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(12, 28, 54, 0.5);
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container,
.container-wide {
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container {
  max-width: 130rem;
}

.container-wide {
  max-width: 160rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.hero-heading-primary,
.heading-blog {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary,
.hero-heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
}

.hero-heading-primary {
  margin-bottom: 3.2rem;
}

.heading-primary {
  margin-bottom: 6.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.section {
  padding: 9.6rem 0;
}

.grid {
  display: grid;
  gap: 9.6rem;
  align-items: center;
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  text-decoration: none;
  text-align: center;
  background-color: #c56483;
  color: #f9f0f3;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  transition: all 0.3s;
}

.text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.section--brown {
  background-color: #f9ede7;
}

.section--pink {
  background-color: #f5e6eb;
}

.container-center {
  text-align: center;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  background-color: #e5c1cd;
  justify-content: space-between;
  align-items: center;

  /* Because we want it to be sticky later */
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.logo-header {
  height: 6.4rem;
}

.header-company-name {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}

.header-email:link,
.header-email:visited {
  display: inline-block;
  text-decoration: none;
  color: #453a3d;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.header-email:hover,
.header-email:active {
  color: #fff;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #453a3d;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  color: #453a3d;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #453a3d;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* SECTION 1: HERO */
/**************************/

.section-hero {
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  display: grid;
  height: 100%;
  max-width: 130rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  align-items: center;
  padding: 4.8rem 2.4rem 9.6rem 2.4rem;
}

.hero-subheader {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**************************/
/* SECTION 2: ABOUT */
/**************************/

.grid-about {
  grid-template-columns: 1.5fr 1fr;
  column-gap: 1.6rem;
  padding: 3.2rem 0;
}

.attention-text {
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
}

.attention-text p {
  margin-bottom: 1.6rem;
}

.about-img {
  max-width: 100%;
}

/**************************/
/* SECTION 2.b: REASONS */
/**************************/

.grid--reasons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  justify-content: space-between;
  column-gap: 3.2rem;
  padding-top: 9.6rem;
}

.reasons-icon {
  height: 5rem;
  margin-bottom: 1.2rem;
}

.text-reasons {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

/**************************/
/* SECTION 3: BENEFTS */
/**************************/

.grid-benefits {
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3.2rem;
}

.benefits-list {
  font-size: 3rem;
  margin-bottom: 6.4rem;
}

.benefits-text-container ul li {
  font-size: 2rem;
  list-style: none;
  position: relative;
  padding: 0.3rem 0 0.2rem 2.5rem;
  margin-bottom: 2.4rem;
}

.benefits-text-container ul li::before {
  content: "*";
  position: absolute;
  top: 0.6rem;
  left: 0;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.testimonial-box {
  font-size: 1.8rem;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  align-items: center;
  border-radius: 11px;
  padding: 2.4rem 1.2rem;
}

.testimonial-box:nth-child(odd) {
  margin-right: 4.8rem;
}

.testimonial-box:nth-child(even) {
  margin-left: 4.8rem;
}

/**************************/
/* SECTION 4: RESULTS */
/**************************/

#slider {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller {
  text-align: right;
  margin-bottom: 2.4rem;
}

.previous,
.next {
  padding: 0.2rem;
  background-color: white;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  transition: 0.7s ease-in-out;
  border: 3px solid #e5c1cd;
  box-shadow: 0 0 5px #bbb;
}

.previous:hover,
.next:hover {
  border: 3px solid gray;
}

.slide-img {
  /* width: 100%; */
  height: 40rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-img {
  width: 40rem;
}

/**************************/
/* SECTION 5: HOW IT WORKS & CTA */
/**************************/

.instructions-container {
  margin: 4.8rem;
}

.instruction {
  display: flex;
  gap: 4.8rem;
  align-items: center;
  margin-bottom: 4.8rem;
}

.number-icon {
  height: 5rem;
}

.instructions-text {
  font-size: 2.4rem;
  align-self: center;
}

.cta {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #efdae1, #e5c1cd);
  overflow: hidden;
  color: #0c1c36;
  padding: 4.8rem 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(27, 83%, 95%, 0.5);
}

.form-detail {
  grid-column: 1 / -1;
}

.form-footer {
  font-size: 1.6rem;
}

/**************************/
/* SECTION 6: FAQ */
/**************************/

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item {
  width: 75%;
  border-bottom: 2px solid #ccc;
}

.accordion-item:first-child {
  border-top: 2px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 2rem;
  font-size: 2.4rem;
}

.accordion-header::after {
  content: "+";
}

.accordion-item.active .accordion-header::after {
  content: "-";
}

.accordion-content {
  display: none;
  padding: 1rem;
  font-size: 2rem;
}

.accordion-item.active .accordion-content {
  display: block;
}

/**************************/
/* SECTION 7: AGUA DE CIELO */
/**************************/

.sales-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
}

.subheading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
}

.adc-img {
  width: 100%;
}

/**************************/
/* SECTION 8: LAST CHANCE CTA */
/**************************/

.cta-subheader {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: #000;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  color: #ccc;
  padding: 12.8rem 1.2rem 9.6rem 1.2rem;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12.8rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo-footer {
  width: 100%;
}

.business-info-item {
  margin-bottom: 4.8rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.address {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ccc;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copy-policies {
  display: flex;
  justify-content: space-between;
  max-width: 130rem;
  margin: 0 auto;
  font-size: 1.2rem;
  padding-bottom: 2.4rem;
  color: #ccc;
}

.policies {
  display: flex;
  gap: 1.2rem;
}

.policy:link,
.policy:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ccc;
  transition: all 0.3s;
}

.policy:hover,
.policy:active {
  color: #fff;
}

/**************************/
/* PRIVACY */
/**************************/

.section-privacy {
  margin: 12.8rem 9.6rem;
}

.policy-container p {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.policy-container h2 {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}

.policy-container ul {
  margin-left: 4.8rem;
  font-size: 1.6rem;
}

/**************************/
/* SUCCESS */
/**************************/

.section-success {
}

.success-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  overflow: visible;
}

.success-text {
  margin: 9.6rem 4.8rem;
}

.success-img-container {
  background: url(../img/success-banner.webp);
  background-size: cover;
}

.success-img {
  width: 100%;
}
